header.masthead{
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url(https://placehold.co/600x400)}

    header.masthead .header-content {
        max-width: 500px;
        margin-bottom: 100px;
        text-align: center;
      }