:root{
    /* colors */
    --lavenderblush: #EDE3E4;
    --magnolia: #E7DFE8;
    --rosequartz: #AF9FA5;
    --taupegrey: #92898A;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--lavenderblush)
}

/* navbar */
.nav-background{
    background-color: var(--taupegrey);
}

.navbar-brand, .nav-link{
    color: var(--magnolia);
}



/* hero section */
header.jumbotron{
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: var(--greenBrown);
    background-image: url(../images/jumbotronImage.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: var(--taupegrey);
    color: var(--lavenderblush);
}

h1{
    font-size: 50px;
    color: var(--rosequartz);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255,255,255, 0.4);

}

/* Work */

#work {
    width:100%
}

.card-img-small{
    height: 500px;
    border-radius: 10px;
}

.card {
    box-shadow: 0 0 10px var(--taupegrey);
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 0 0 10px var(--taupegrey);
    border-radius: 5px;
}

/* About Me */
.icon a:hover{
    color: var(--rosequartz);
    text-shadow: 0 0 10px var(--taupegrey);
    border-radius: 5px;
}

a span{
    text-decoration: none;
}

.icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon a span {
    margin-top: 5px;
}


/* Footer */
footer{
    background-color: var(--taupegrey);
    color: var(--lavenderblush);
}

@media screen and (max-width:425px){
    .card-img-small {
        height: 180px;
    }
    
    h1{
        font-weight: bold;
        color: #383e42;
    }
}

@media screen and (max-width: 768px){
    .card-img-small{
        height: 300px;
    }
}